@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Mukta:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #4be2e3;
  --text-color: #203752;
  --light-bg: #75f7f7;
  --test: #ffdb64;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: 'Kanit', serif;
  font-size: 20px;
  font-weight: 400;
}

.app {
  padding: 20px 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  svg {
    margin-right: 20px;
  }

  input {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    text-transform: capitalize;
    width: 200px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: var(--text-color);
      opacity: 0.5;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
  }

  .change-theme {
    width: 100px;
    padding: 7px;
    background-color: var(--text-color);
    border: none;
    border-radius: 5px;
    color: var(--light-bg);
    font-size: 18px;
    font-weight: 600;
  }
}

.current {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 390px;

  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  img {
    width: 170px;
  }

  &-desc {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
  }

  &-temp {
    margin: -20px 0 -15px 18px;
    font-size: 80px;
    font-weight: 500;
  }

  &__block {
    img {
      width: 16px;
    }
    font-size: 16px;
    opacity: 0.7;

    display: flex;
    justify-content: space-between;
    width: 140px;

    &-item {
      display: flex;
      img {
        margin-right: 5px;
      }
    }
  }
}

.future {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 330px;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--light-bg);
    padding: 20px 15px;
    border-radius: 10px;

    img {
      width: 50px;
    }

    h5 {
      opacity: 0.6;
    }

    span {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.error {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 50px;
    }
  }
}
